@font-face {
    font-family: "Consolas";
    src: url(../font/Consolas.ttf) format("truetype");
  }

html,body { height: 100%; margin: 0px; padding: 0px; }

.logo {
    padding: 5px;
}

.logo img {
    width: 50%;
    height: 50%;
}

.logo.short {
    width: 75%;
    height: 75%;
}

.logo-code {
    color: #016db8;
}

.logo-paren {
    color: #016db8;
    font-weight: bold;
}

.logo-ack {
    color: #6fad46;
    font-family: 'Consolas';
}

.top-buffer {
    padding: 5%;
}

.logo-background {
    padding: 20px;
}

a {
    color: #016db8 !important;
    text-decoration: none !important;
    padding: 5px;
}

a:hover {
    color: #ffffff !important;
    background-color: #6fad46 !important;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li > a:hover {
    border-radius: 5px;
}

button > a:hover {
    border-radius: 5px;
}

.clicked {
    color: #ffffff !important;
    background-color: #6fad46 !important;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

button > a.clicked {
    border-radius: 5px;
}

li > a.clicked {
    border-radius: 5px;
}

.full-height {
    height: 100%;
}

.content {
    display: block;
    font-family: sans-serif;
    padding: 10px !important;
}

.content-background {
    border-top: 1px solid #6fad46;
    background:linear-gradient(#6fad46 3%,#ffffff 10%,#ffffff);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    box-shadow: gray;
}

.header > div.logo-header > button  {
    background-color: white !important;
    border: none;
}
.header > div.logo-header > button > img {
    width: 45px;
}
.header > div.logo-header > img {
    width: 45px;
}

.footer {
    background-color: #013459;
    color: white;
    font-size: 12px;
}

.footer > p {
    padding: 10px;
}

.copy {
    font-size: 12px;
    background-color: #173042;
}

a.email {
    background-color: #ffffff;
}
a:hover.email {
    color: #6fad46 !important;
    background-color: #ffffff !important;
    text-decoration: underline !important;
}

h3 {
    color: #ffffff !important;
    font-weight: bolder !important;
    margin-bottom: 20px !important;
}

h4 {
    color: #013459 !important;
}

h5 {
    color: #016db0 !important;
    font-size: 12px;
    font-family: sans-serif;
}

.fuzzy {
    color: #0286e5;
}

p {
    padding-left: 10px;
}

.currency {
    font-family: "Consolas";
}

.fineprint {
    color: #777777;
    font-size: 10px;
}


.fineprint-item {
    color: #444444 !important;
    font-weight: bold !important;
}

.content-min-height {
    min-height: 500px !important;
}

.heading-p {
    font-size: 12px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

sup > a:hover {
    color:#6fad46 !important;
    text-decoration: underline !important;
    background-color: #ffffff !important;
}